<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.my.notebook.domain.BoardMapper">
    <select id="getTest" resultType="string">
        select 1 from dual
    </select>
</mapper>