<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.my.notebook.mapper.seq.PostSeqMapper">

    <select id="getPostIdSeqCurrval" resultType="_long">
        SELECT p_id_seq.currval FROM dual
    </select>

    <select id="createPostIdSeq">
        CREATE SEQUENCE p_id_seq
            START WITH 1
            INCREMENT BY 1
            MINVALUE 1
            NOCYCLE
    </select>

    <select id="dropPostIdSeq">
        BEGIN
            EXECUTE IMMEDIATE 'DROP SEQUENCE ' || 'p_id_seq';
        EXCEPTION
            WHEN OTHERS THEN
                IF SQLCODE != -2289 THEN
                    RAISE;
            END IF;
        END;
    </select>

</mapper>