<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.my.notebook.mapper.PostMapper">

    <select id="selectByContainerId" resultType="PostDTO">
        SELECT * FROM post_tbl
            where c_id = ${containerId}
            order by p_id
    </select>

    <insert id="insertPost">
        insert into post_tbl(c_id, p_id, p_title, p_content, p_created, p_updated)
        VALUES (${containerId},
                (SELECT count(p_id) + 1 FROM post_tbl
                                        WHERE c_id = ${containerId}) ,
                #{title},
                #{content},
                sysdate,
                sysdate)
    </insert>

    <update id="updatePost">
        UPDATE post_tbl SET p_title = #{title}, p_content = #{content}, p_updated = sysdate
            WHERE c_id = ${containerId} and p_id = ${id}
    </update>

    <delete id="deletePost">
        delete from post_tbl
               where c_id = ${containerId} and p_id = ${id}
    </delete>

</mapper>